{% extends 'base.html.twig' %}

{% block body %}
    <input id='recipeName' type='text' class="form-control" placeholder='Recipe Name' value="{{ recipe.name }}">
    <input id='recipeSource' type='text' class="form-control" placeholder='source' value="{{ recipe.source }}">
    <hr>
    <form class="form-inline" role="form">
        <div id="ingredientList">
                <div id='ingredientTemplate' class="form-group" style="display: none;">
                    <input type='text' class='amount form-control' placeholder='amount' oninput="checkIsLast(this);">
                    <div class='form-control dropdown'>
                        <button class="btn btn-default dropdown-toggle unit" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">--</a></li>
                            <li role="separator" class="divider"></li>
                            {% for measureClass in measureArray %}
                                <li class="dropdown-header">{{ measureClass.getMeasureName }}</li>
                                {% for unit in measureClass.getAvailableMeasureUnits|keys %}
                                    <li><a href="#">{{ unit }}</a></li>
                                {% endfor %}
                                {% if not loop.last %}
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <input type='text' class='name form-control' placeholder='name' oninput="checkIsLast(this);">
                    (<input type='text' class='note form-control' placeholder='note' oninput="checkIsLast(this);">)
                </div>
                {% for ingredient in recipe.ingredients %}
                    <div class="form-group ingredientListItem">
                        <input type='text' class='amount form-control' placeholder='amount' oninput="checkIsLast(this);" value="{{ ingredient.amount }}">
                        <div class='form-control dropdown'>
                            <button class="btn btn-default dropdown-toggle unit" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% if ingredient.unit %}{{ ingredient.unit }}{% else %}--{% endif %}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">--</a></li>
                                <li role="separator" class="divider"></li>
                                {% for measureClass in measureArray %}
                                    <li class="dropdown-header">{{ measureClass.getMeasureName }}</li>
                                    {% for unit in measureClass.getAvailableMeasureUnits|keys %}
                                        <li><a href="#">{{ unit }}</a></li>
                                    {% endfor %}
                                    {% if not loop.last %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <input type='text' class='name form-control' placeholder='name' oninput="checkIsLast(this);" value="{{ ingredient.fooditem.name }}">
                        (<input type='text' class='note form-control' placeholder='note' oninput="checkIsLast(this);" value="{{ ingredient.note }}">)
                    </div>
                {% endfor %}
        </div>
    </form>
    <hr>
    <form class="form-inline" role="form">
        <div id="stepList">
            <div id='stepTemplate' style="display: none;">
                <textarea rows='5' cols='80' class="form-control" oninput="checkIsLast(this);"></textarea>
            </div>
            {% for step in recipe.steps %}
                <div class="stepListItem">
                    <textarea rows='5' cols='80' class="form-control" oninput="checkIsLast(this);">{{ step.description }}</textarea>
                </div>
            {% endfor %}
        </div>
    </form>
    <br>
    <button id="saveBtn" class="btn btn-default" onclick="save();">Save</button>
    <p></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        var loadFinished = false;
        $(document).ready(function() {
            addIngredient();
            addStep();
            
            $('.ingredientListItem').find('.dropdown .dropdown-menu li a').each(function(){
                $(this).click(function(){
                    var selText = $(this).text();
                    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText);
                });
            });
            
            $('#ingredientList').bind('addNew', function() {
                addIngredient();
            });
            
            $('#stepList').bind('addNew', function() {
                addStep();
            });
            
            loadFinished = true;
        });
        
        function checkIsLast(sender) {
            var rowItem = $(sender).parent();
            if (rowItem.is(':last-child')) {
                rowItem.parent().trigger('addNew');
            }
        }
        
        function removableClonedFrom(template) {
            var newItem = template.clone();
            newItem.removeAttr('id');
            if (loadFinished == true) newItem.append("<button onclick='removeClicked(this);' class='btn btn-default'>&times;</button>");
            newItem.show();
            return newItem;
        }
        
        function addIngredient() {
            var newIngredient = removableClonedFrom( $("#ingredientTemplate") );
            
            newIngredient.find('.dropdown .dropdown-menu li a').each(function(){
                $(this).click(function(){
                    var selText = $(this).text();
                    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText);
                });
            });
            newIngredient.find('.dropdown .dropdown-menu li:first a').click();
            
            newIngredient.addClass('ingredientListItem');
            $("#ingredientList").append(newIngredient);
        }
        
        function addStep() {
            var newStep = removableClonedFrom( $("#stepTemplate") );
            newStep.addClass('stepListItem');
            $("#stepList").append(newStep);
        }
        
        function removeClicked(sender) {
            $(sender).parent().remove();
        }
        
        function newRecipe(name, source) {
            return {name:name, source:source, ingredients:[], steps:[]};
        }
        
        function newIngredient(amount, unit, name, note) {
            if (unit !== "--") {
                return {amount:amount, unit:unit, name:name, note:note};
            } else {
                return {amount:amount, name:name, note:note};
            }
        }
        
        function showSaving(saveBtn) {
            var notifier = $('<span class="label label-default"></span>')
            notifier.html("Saving...");
            saveBtn.hide();
            saveBtn.before(notifier);
            return notifier;
        }
        
        function saveComplete(notifier) {
            displayMessageAlertWithClass('alert-success', $('#recipeName').val() + ' recipe saved!');
            notifier.remove();
            resetForm();
        }
        
        function resetForm() {
            $(".ingredientListItem").remove();
            $(".stepListItem").remove();
            
            $('#recipeName').val('');
            $('#recipeSource').val('');
            addIngredient();
            addStep();
            
            $('#saveBtn').show();
        }
        
        function saveError(notifier, saveBtn) {
            notifier.remove();
            displayMessageAlertWithClass('alert-danger', 'Error! Try again?');
            
            $('#saveBtn').show();
        }
        
        function save() {
            $('.alert:visible').remove();
            
            var recipe = newRecipe($("#recipeName").val(), $("#recipeSource").val());
            $(".ingredientListItem").each(function() {
                var amountVal = $(this).children(".amount").val();
                var unitVal = $(this).find(".unit").text();
                var nameVal = $(this).children(".name").val();
                var noteVal = $(this).children(".note").val();
                
                if (amountVal != '' || unitVal != '--' || nameVal != '') {
                    var ingredient = newIngredient(amountVal, unitVal, nameVal, noteVal);
                    recipe.ingredients.push(ingredient);
                } else {
                    $(this).remove();
                }
            });
            $(".stepListItem").each(function() {
                var step = $(this).children("textarea").val();
                if (step != '') {
                    recipe.steps.push(step);
                } else {
                    $(this).remove();
                }
            });
            
            var saveBtn = $('#saveBtn');
            var notifier = showSaving(saveBtn);
            
            $.ajax({
                {% if recipe.name %}
                   url:"{{ path("update_recipe", { 'id': recipe.id }) }}",
               {% else %}
                    url:"{{ path("save_recipe") }}",
               {% endif %}
                type: 'post',
                data: JSON.stringify(recipe),
                contentType: 'application/json',
                dataType: 'json',
                success: function(result) {
                    saveComplete(notifier);
                },
                error: function () {
                    saveError(notifier, saveBtn);
                }
            });
        }
    </script>
{% endblock %}