<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CookBook{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand" href="#">Cookbook</span>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="nav navbar-nav">
                            <li class="{{ isActiveRoute('home') }}">
                                <a href="{{ path('home') }}">Home</a>
                            </li>
                            <li class="{{ areActiveRoutes(['recipe_list', 'recipe_detail']) }}">
                                <a href="{{ path('recipe_list')}}">Recipes</a>
                            </li>
                            <li class="{{ isActiveRoute('new_recipe') }}">
                                <a href="{{ path('new_recipe') }}">New</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="{{ isActiveRoute(app.request.attributes.get('_route'), 'planned_recipes') }}">
                                <a href="{{ path('planned_recipes') }}">Planned</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="alertTemplate" class="alert alert-dismissible" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
            <script>
                function displayMessageAlertWithClass(cls, msg) {
                    var template = $('#alertTemplate');
                    var newAlert = template.clone();
                    newAlert.addClass(cls);
                    newAlert.append(msg);
                    newAlert.show();
                    template.after(newAlert);
                }
            </script>
        {% endblock %}
    </body>
</html>
